/* General styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    line-height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Georgia';
    font-weight: 400;
    margin: 0;
}

nav a {
    display: inline-block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 15px;
    line-height: 130%;
}

section {
    display: block;
}

/* BUTTON */

.btn {
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1.02px;
    color: #292929;
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
}

.btn:hover {
    background-color: #FDDCC4;
}

.more-btn {
    border: 2px solid #F1CDB3;
    
    display: inline-block;
    color: #292929;
    line-height: 22.2px;
    margin-top: 13px;
    padding: 14px 44px;
}

.get-to-know-btn {
    background-color: #F1CDB3;
    align-self: center;
    margin-top: 60px;
}

.arrow-btn-container {
    display: flex;
    justify-content: space-between;

}

.arrow-btn-left {
    left: 0%;
}

.arrow-btn-right {
    right: 0%;
}

.arrow-btn {
    position: absolute;
    top: 45.9%;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #f6f6f6;
    padding: 15px 18px 16px 18px;
    max-width: 100%;
}

.arrow-btn:hover {
    background-color: #FDDCC4;
}

/* HEADER */

.header {
    display: block;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 30px 10px 0 10px;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
}

.header-logo-link {
    font-size: 32px;
    color: #545454;
    line-height: 35.2px;
    letter-spacing: 1.92px;
}

.subtitle {
    font-size: 13px;
    margin: 10px 0 0 5px;
    color: #292929;
    letter-spacing: 1.3px;
}

.header-nav {
    display: block;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    color: #545454;
    gap: 36.6px;
}

.header-nav-link {
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.header-nav-link:hover {
    color: #545454;
}

.header-nav a.active {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}

/* PETS */

.pets {
    background-color: #f6f6f6;
    margin-top: 50px;
}

.pets-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 48px 0 100px 0;
}

.h-container {
    text-align: center;
    height: 90px;
    width: 400px;
    margin: 0 auto;

}

.h-pets {
    color: #4C4C4C;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
}

.pets-slider {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 58px;
    gap: 29px 0;
}

.pets-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
}

.pets-card:hover {
    box-shadow: rgba(13, 13, 13, 0.14);
    background-color: #FFFFFF;
}

.pets-img img {
    width: 100%;
}

.pets-text {
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    color: #545454;
    line-height: 22.72px;
    letter-spacing: 1.2px;
    margin-top: 27px;
}

/* FOOTER */

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-container {
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: -1;
    background: linear-gradient(#513D2F 0%, #1A1A1C 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-contacts {
    max-width: 280px;
    padding: 27px 0 58px 0;
}

.h-footer {
    font-size: 35px;
    line-height: 150%;
    letter-spacing: 2.1px;
    color: #FFF;
    margin-bottom: 25px;
}

.email {
    list-style: url(./img/icon-email.svg);
}

.phone {
    list-style: url(./img/icon-phone.svg);
}

.mup {
    list-style: url(./img/icon-marker.svg);
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 20px;
    color: #F1CDB3;
    list-style-position: inside;
    padding-left: 50px;
}

.li {
    font-size: 20px;
    line-height: 130%;
}

.mup-li {
    padding-bottom: 15px;
}

.footer-link {
    position: relative;
    bottom: 15px;
    left: 20px;
    letter-spacing: 1.2px;
    font-family: Georgia, sans-serif;
    color: #F1CDB3;
}

.footer-link:hover {
    color: #FDDCC4
}

.footer-address {
    max-width: 300px;
    padding: 27px 0 58px 0;
}

.footer-img {
    padding-bottom: 15px;
    align-self: center;
}
