/* General styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    line-height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Georgia';
    font-weight: 400;
    margin: 0;
}

nav a {
    display: inline-block;
}

a {
    color: #CDCDCD;
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 15px;
    line-height: 130%;
}

section {
    display: block;
}

/*Header*/

.greeting {
    width: 100%;
    height: 908px;
    position: absolute;
    z-index: -1;
    background: url(./img/start-screen-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: block;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 30px 10px 0 10px;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
}

.header-logo-link {
    font-size: 32px;
    color: #F1CDB3;
    line-height: 35.2px;
    letter-spacing: 1.92px;
}

.subtitle {
    font-size: 13px;
    margin: 10px 0 0 5px;
    color: #FFFFFF;
    letter-spacing: 1.3px;
}

.header-nav {
    display: block;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    color: #CDCDCD;
    gap: 36.6px;
}

.header-nav-link {
    font-size: 15px;
    line-height: 160%;
}

.header-nav-link:hover {
    color: #FFFFFF;
}

.header-nav a.active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

/*Greeting*/

.start-screen-content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.start-screen-text {
    margin: 160px 32px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h-start-screen {
    font-size: 44px;
    max-width: 310px;
    color: #FFFFFF;
    line-height: 57.2px;
    margin-bottom: 28px;
}

.sub-start-screen {
    max-width: 475px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #CDCDCD;
}

.btn:hover {
    background-color: #FDDCC4;
}

.start-screen-img-container {
    max-width: 100%;
}

.img {
    max-width: 100%;
    height: auto;
}

/*ABOUT*/

.about {
    margin-top: 45px;
    padding-bottom: 95px;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    padding: 0 45px;
}

.about-text {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.h-about {
    font-size: 35px;
    color: #545454;
    max-width: 360px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    margin: 15px 0 15px 0;
}

.sub-about {
    margin-top: 10px;
    color: #4C4C4C;
    line-height: 24px;
}
